<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="TeamCityFeed" value="http://ci.wellfired.com:8111/httpAuth/app/nuget/feed/_Root/default/v2" />
  </packageSources>
  <packageSourceCredentials>
    <TeamCityFeed>
      <add key="Username" value="nugetaccess" />
      <add key="ClearTextPassword" value="blest-enough-koran-footsore-tortuous-feud" />
    </TeamCityFeed>
  </packageSourceCredentials>
</configuration>